/* Classe atribuídas a div no html */
.container{
    /* Conprimento dos elementos */
    width: 1000px;
    /* Altura dos elementos */
    height: 500px;
    /* Define borda do elemento */
    border: solid red 2px;
    /* Define o espaçamento externo */
    margin: 0 auto; }

/* Id atribuído a um elemento html */
#quadrado{
    /* Conprimento dos elementos */
    width: 100px;
    /* Altura dos elementos */
    height: 100px;
    /* Define cor de fundo */
    background-color: blue;
    /* Define posição do elemento */
    position: relative;
    /* Define a animação de movimento das imagens */
    animation: teste 10s infinite linear;}

/* Keyframes é um desenho que define os pontos de início e fim de 
qualquer transição suave. Nesse caso, descreve como o elemento animado 
deveria se renderizar a um tempo dado durante a sequência de animação*/
@keyframes teste {
    0%{
        /* TranslatedX move o elemento na horizontal */
        transform: translateX(0);}
    25%{
        /* TranslatedX move o elemento na horizontal */
        transform: translateX(900px);
        background-color: rgb(0, 255, 17);    }
    50%{
        transform: translate(900px, 400px) rotate(180deg);    }
    75%{
        transform: translate(0px, 400px) rotate(180deg);    }
    100%{
        transform: translate(0px, 0px);    }}