body{
    /* Define borda do elemento */
    border: red solid 2px;
    /* Define o espaçamento externo */
    margin: 0 auto;
    /* Define o maior comprimento possível */
    max-width: 500px;
    /* Indica a forma que serão dispostos os elementos */
    display: flex;
    /* Define como serão dispostos os elementos, 
    nesse caso, um abaixo do outro, em coluna */
    flex-direction: column;
    /* Arredondamento da borda */
    border-radius: 10px;}
.box{
    /* Define borda do elemento */
    border: green solid 2px;
    /* Define o espaçamento externo */
    margin: 10px;
    /* Arredondamento da borda */
    border-radius: 10px;
    /* Define cor de fundo */
    background-color: lightgray;
    /* Define o espaçamento interno */
    padding: 10px;}